@use '../abstracts' as *;

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $app-background;
  margin: 0;
}

#root {
  height: 100vh;
}
a {
  text-decoration: none;
}
