@use '../../assets/styles/abstracts/index' as *;
.card-file {
  font-size: 15px;
  margin-left: -40px;
  display: grid;
  list-style: none;
  > .fileName {
    display: flex;
    align-items: center;

    > .file-icon {
      display: flex;
      width: 35px;
      > div {
        display: flex;
        > .point {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          position: relative;
          right: 5px;
          top: 16px;
        }
        > .file-archived {
          background-color: $quinary;
        }
        > .file-starred {
          background-color: $quaternary;
        }
      }
    }
  }

  li {
    border-bottom: 2px solid $border;
    padding-bottom: 10px;
    margin-top: -4px;
  }
}

.card-file-home {
  grid-template-columns: repeat(3, 1fr);
  width: 589px;
  > .fileDate {
    padding-left: 18px;
  }
  > .fileSize {
    padding-left: 20px;
  }
}
.card-file-action {
  grid-template-columns: repeat(4, 1fr);

  > .fileDate {
    padding-left: 66px;
  }
  > .fileSize {
    padding-left: 92px;
  }
  > .fileAction {
    padding-left: 170px;
    display: flex;
    align-items: center;
    gap: 7px;

    > .fileActionIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      cursor: pointer;
      img {
        width: 18px;
        filter: invert(100%) sepia(100%) saturate(100%) brightness(100%)
          contrast(100);
      }
    }
    > .active-action {
      background-color: $action-btn-color;
      cursor: not-allowed;
    }
    > .star {
      background-color: $quaternary;
    }
    > .box {
      background-color: $quinary;
    }
    > .trash {
      background-color: $quinary;
      margin-left: 31px;
    }
  }
}
.upload-file {
  [type='file'] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  > .btn-2 {
    gap: 15px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: $primary;
    color: #fff;
    border-radius: 15px;
    width: 75px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 520;
    outline: none;
    padding: 1.1rem 50px;
    position: relative;
  }
}
.not-found-file {
  background-color: $not-found-background;
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  color: $text-muted;
  font-size: 14px;
  font-weight: 550;
}
