$text-black: #000000;
$text-muted: #6e7191;
$btn-color: #fff;
$action-btn-color: #d9dbe9;
$app-background: #fcfcfc;
$card-background: #f7f7fc;

$primary: #610bef;
$secondary: #005bd4;
$tertiary: #008a00;
$quaternary: #eaac30;
$quinary: #ca024f;

$progress-background: #d9dbe9;
$search-background: #f7f7fd;
$sort-background: #eff0f6;
$not-found-background: #eff1f7;
$icon-color: #ffffff;

$border: #d9dbe9;
